.card {
  background-color: var(--white);
  border-radius: 8px;
  padding: var(--space-3);
  box-shadow: var(--shadow-md);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: var(--space-3); /* Add margin between cards */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.title {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-2);
  color: var(--text);
}

.details {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-1);
  margin-bottom: var(--space-2);
}

.label {
  font-weight: 500;
  color: var(--text-light);
  margin-right: var(--space-1);
}

.description {
  font-size: var(--font-size-base);
  color: var(--text);
  line-height: var(--line-height-base);
}

/* Responsive Design */
@media (max-width: 576px) {
  .card {
    padding: var(--space-2);
    margin-bottom: var(--space-2);
  }

  .title {
    font-size: var(--font-size-lg);
  }

  .details {
    grid-template-columns: 1fr;
  }

  .description {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card {
    padding: var(--space-3);
    margin-bottom: var(--space-3);
  }

  .title {
    font-size: var(--font-size-xl);
  }

  .details {
    grid-template-columns: repeat(2, 1fr);
  }

  .description {
    font-size: var(--font-size-base);
  }
}

@media (min-width: 769px) {
  .card {
    padding: var(--space-4);
  }

  .title {
    font-size: var(--font-size-2xl);
  }

  .details {
    grid-template-columns: repeat(2, 1fr);
  }

  .description {
    font-size: var(--font-size-base);
  }
}

@media (min-width: 1025px) {
  .card {
    padding: var(--space-5);
  }

  .title {
    font-size: var(--font-size-3xl);
  }

  .details {
    grid-template-columns: repeat(3, 1fr);
  }

  .description {
    font-size: var(--font-size-lg);
  }
}